html, body {
    height: 100%;
    display: grid;
    margin: 0;
    padding: 0;
}

.center {
    margin: auto;  
}

#google-app-icon {
    height: 15px;
    width: 15px;
}

#header {
    height: 56px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    font-size: 14px;
    margin-left: 6px;
    margin-right: 6px;
}

.test {
    padding-top: 8px;
}

#round-icon {
    background: #C2185B;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.left-side-align {
    float: left;
}

.right-side-align {
    float: right;
}

input {
    border: none;
}

#google-logo {
    display: flex;
    justify-content: center;
}

input:hover {
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

button {
    border: none;
    background: transparent;
}

.search-shell {
    border: 1px #dfe1e5 solid;
    border-radius: 24px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 400px;
}

.search-shell:hover {
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

footer {
    background: #F2F2F2;
    margin-top: auto;
    height: 50px;
    width: 100%;
    display: flex; 
    align-items: flex-end; 
}

.footie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lefty {
    display: flex;
    justify-content: flex-start;
}

.righty {
    float: right;
    padding-right: 10px;
}